.about-company {
    padding: 20px 0 100px 0;

    &__wrapper-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        margin-top: 72px;
    }

    &__block-info {
        position: relative;
        display: grid;
        align-content: end;
        padding: 32px;
        height: 654px;
    }

    &__block-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0.37deg, #1C1D1F 0.33%, rgba(0, 0, 0, 0.25) 99.69%);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__inner-info {
        position: relative;
        z-index: 1;
        display: grid;
        grid-row-gap: 8px;
    }

    &__quantity {
        font-weight: 600;
        @include adaptiv-font(56, 41);
        color: $color-6;

        span {
            font-weight: 600;
            @include adaptiv-font(56, 41);
        }
    }

    &__quantity-sign {
        opacity: 0;
        animation: showSign 1s 5s forwards;

        @keyframes showSign {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    &__sign {
        @include adaptiv-font(20, 16);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        opacity: 0.5;
        color: $color-2;
    }

    .title {
        text-align: left;
    }
}