.advantage-card {
    display: grid;
    align-content: start;

    &__icon {
        width: 56px;
        height: 56px;
        object-fit: contain;
        object-position: center;
    }

    &__title,
    &__description {
        color: $color-2;
    }

    &__title {
        font-weight: 500;
        @include adaptiv-font(32, 24);
        margin-top: 32px;
        line-height: 1.37em;
    }

    &__description {
        opacity: 0.5;
        font-weight: 500;
        @include adaptiv-font(24, 20);
        margin-top: 24px;
        line-height: 1.5em;
    }
}