.modal {

    &__close-icon {
        width: 26px;
        height: 26px;
    }

    &__subtitle {
        display: block;
        text-align: center;
        margin: 20px auto 0 auto;
        @include adaptiv-font(24, 16);
    }

    .form {
        margin-top: 24px;

        &__form {
            grid-row-gap: 24px;
        }

        &__privacy-policy,
        &__privacy-policy a {
            @include adaptiv-font(14, 12);
        }
        
        &__privacy-policy {
            text-align: center;
            max-width: 478px;
            margin: 0 auto;
        }

        .input,
        .textarea {
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
                transition: color $transition-time;
            }

            &:focus::placeholder {
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    .title {
        color: $color-4;
        text-align: center;
    }

    &.hystmodal {
        .hystmodal {

            &__wrap {
                padding: 0 20px;
            }

            &__window {
                padding: 48px;
                background: $color-2;
                width: 100%;
                max-width: 674px;
            }

            &__close {
                top: 24px;
                right: 24px;
                width: 32px;
                height: 32px;
                padding: 0;
                background-image: none;
                transition: opacity 0.3s;

                &:hover {
                    opacity: 0.6;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}