<section class="about-company">
    <div class="main-container max-width">
        <div class="about-company__wrapper-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">О компании</span>
            </div>
            <h2 class="title title--h2 title--decore title-reset">Постоянно укрепляем за собой статус надежного партнера, расширяя географию и отрасли поставок c 2012 года</h2>
        </div>
        <div class="about-company__wrapper-info">
            <div class="about-company__block-info">
                <div class="about-company__inner-info">
                    <span class="about-company__quantity">724</span>
                    <span class="about-company__sign">сумма контрактов</span>
                </div>
            </div>
            <div class="about-company__block-info">
                <div class="about-company__inner-info">
                    <span class="about-company__quantity">9 200 354</span>
                    <span class="about-company__sign">поставки провода</span>
                </div>
            </div>
            <div class="about-company__block-info">
                <div class="about-company__inner-info">
                    <span class="about-company__quantity">2 334 936</span>
                    <span class="about-company__sign">поставки кабеля</span>
                </div>
            </div>
        </div>
    </div>
</section>