<section class="about-company">
    <div class="main-container max-width">
        <div class="title-section">
            <svg class="title-section__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
            </svg>
            <span class="title-section__title">Результаты компании за 2022 год</span>
        </div>
        <div class="about-company__wrapper-info">
            <div class="about-company__block-info">
                <div class="about-company__block-image">
                    <img src="./assets/images/image-8.jpg" class="about-company__image" alt="">
                </div>
                <div class="about-company__inner-info">
                    <span class="about-company__quantity"><span data-animate-num="724">724</span></span>
                    <span class="about-company__sign">заключенных контрактов</span>
                </div>
            </div>
            <div class="about-company__block-info">
                <div class="about-company__block-image">
                    <img src="./assets/images/image-9.jpg" class="about-company__image" alt="">
                </div>
                <div class="about-company__inner-info">
                    <span class="about-company__quantity"><span data-animate-num="9200354">9 200 354</span> <span class="about-company__quantity-sign">м</span></span>
                    <span class="about-company__sign">поставки провода</span>
                </div>
            </div>
            <div class="about-company__block-info">
                <div class="about-company__block-image">
                    <img src="./assets/images/image-10.jpg" class="about-company__image" alt="">
                </div>
                <div class="about-company__inner-info">
                    <span class="about-company__quantity"><span data-animate-num="2334936">2 334 936</span> <span class="about-company__quantity-sign">м</span></span>
                    <span class="about-company__sign">поставки кабеля</span>
                </div>
            </div>
        </div>
    </div>
</section>