<section class="contacts">
    <div class="contacts__wrapper-contacts">
        <div class="main-container max-width">
            <div class="contacts__inner-contacts">
                <h1 class="title title--h1 title-reset">Контакты</h1>
                <div class="contacts__block-contacts">
                    <div class="contacts__block-contact">
                        <span class="contacts__title-contact">Телефон</span>
                        <a href="tel:78619910097" class="contacts__info-contact link-reset">+7 (861)991-00-97</a>
                    </div>
                    <div class="contacts__block-contact">
                        <span class="contacts__title-contact">Email</span>
                        <a href="mailto:info@centringen.ru" class="contacts__info-contact link-reset">info@centringen.ru</a>
                    </div>
                    <div class="contacts__block-contact">
                        <span class="contacts__title-contact">Адрес</span>
                        <span class="contacts__info-contact">Краснодар, ул. Ростовское ш., 14</span>
                    </div>
                </div>
            </div>
            <div class="contacts__block-image">
                <img src="./assets/images/image-6.jpg" class="contacts__image" alt="">
            </div>
        </div>
    </div>
    
    @include('./feedback.html')
</section>