<section class="documents">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Лицензии и сертификаты</h1>
        <div class="documents__wrapper-doc">
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
            <a href="#" download class="documents__card-doc link-reset">
                <span class="documents__doc-name">
                    Сертификация электрической энергии в системах электроснабжения общего назначения, по система Хашпакова Анзора, от 1981 г.
                </span>
                <span class="documents__doc-info">PDF 638.22 kb</span>
            </a>
        </div>
    </div>
</section>