<section class="feedback">
    <div class="main-container max-width">
        <div class="feedback__block-title">
            <h2 class="title title--h2 title-reset">Связаться с нами</h2>
        </div>
        <div class="feedback__wrapper-content">
            @include('./form.html')
            <div class="feedback__wrapper-contacts">
                <div class="feedback__block-contact">
                    <span class="feedback__title">Секретарь</span>
                    <a href="mailto:info@centringen.ru" class="feedback__info link-reset">info@centringen.ru</a>
                </div>
                <div class="feedback__block-contact">
                    <span class="feedback__title">Юридический адрес</span>
                    <span class="feedback__info">ст. Динская, ул. Заводская, 52</span>
                </div>
                <div class="feedback__block-contact">
                    <span class="feedback__title">Отдел продаж</span>
                    <a href="mailto:sales@centringen.ru" class="feedback__info link-reset">sales@centringen.ru</a>
                </div>
                <div class="feedback__block-contact">
                    <span class="feedback__title">Бухгалтерия</span>
                    <a href="mailto:buh@centringen.ru" class="feedback__info link-reset">buh@centringen.ru</a>
                </div>
            </div>
        </div>
    </div>
</section>