<div class="form">
    <form action="" class="form__form" data-validate-form novalidate>
        <div class="form__wrapper-fields">
            <input type="text" class="input" placeholder="Ваше имя" data-input-type="name" minlength="2" required>
            <input type="email" class="input" placeholder="E-mail" data-input-type="email" required>
            <input type="phone" class="input" placeholder="Телефон" data-input-type="tel" data-phone-mask required>
            <textarea class="textarea" placeholder="Сообщение"></textarea>
        </div>
        <button type="submit" class="btn btn--size--bg btn--theme--secondary">
            <span class="btn__text">Отправить</span>
        </button>
        <span class="form__privacy-policy">
            Нажимая кнопку «Отправить», я даю согласие на <a href="#" class="link-reset">обработку персональных данных</a>
        </span>
    </form>
</div>