<div class="geography-projects">
    <div class="main-container max-width">
        <div class="geography-projects__wrapper-info">
            <h2 class="title title--h2 title-reset">География проектов</h2>
            <div class="geography-projects__wrapper-cities">
                <span class="geography-projects__cities-title">Города</span>
                <ul class="geography-projects__list-cities list-reset">
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Москва</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Санкт-Петербург</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Ростов-на-Дону</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Краснодар</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Сочи</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Самара</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Екатеринбург</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Челябинск</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Пермь</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Красноярск</a>
                    </li>
                    <li class="geography-projects__li-cities">
                        <a href="#" class="geography-projects__link-cities link-reset">Новосибирск</a>
                    </li>
                </ul>
            </div>
            <a href="https://affettadev.ru/_centringen/projects.html" class="btn btn--size--md btn--theme--primary">
                <span class="btn__text">все проекты [19]</span>
            </a>
        </div>
    </div>
    <div class="geography-projects__map map" id="map">
        <div class="geography-projects__map-block-bg">
            <img src="./assets/images/map.svg" class="geography-projects__map-bg" alt="">
        </div>
    </div>
</div>