<section class="growth-chart">
    <div class="main-container max-width">
        <div class="growth-chart__wrapper-head">
            <div class="growth-chart__decore"></div>
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">Растем с каждым годом</span>
            </div>
            <h2 class="title title--h2 title-reset">Динамично и устойчиво мы развиваемся на фоне кризисных явлений и уверенно стремимся к росту</h2>
        </div>
        <div class="growth-chart__wrapper-graph">
            <picture class="growth-chart__graph">
                <source srcset="./assets/images/graph-2.svg" media="(max-width: 767px)"/>
                <img src="./assets/images/graph.svg" alt=""/>
            </picture>
        </div>
    </div>
</section>