<section class="info-section">
    <div class="main-container max-width">
        <div class="info-section__block-info">
            <span class="info-section__title">Работаем с 2012 года</span>
            <span class="info-section__description">Располагая собственными оборотными средствами и техникой, мы беремся за объемы закупок свыше 300 млн руб.</span>
        </div>
        <div class="info-section__block-image">
            <img src="./assets/images/image-7.jpg" class="info-section__image" alt="">
        </div>
    </div>
</section>