<section class="our-projects">
    <div class="main-container max-width">
        <div class="our-projects__wrapper-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">Наши проекты</span>
            </div>
            <h2 class="title title--h2 title-reset">Библиотека проектов</h2>
        </div>
        <div class="our-projects__wrapper-cards">
            <div class="project-card">
                <div class="project-card__wrapper-image">
                    <div class="project-card__block-image">
                        <img src="./assets/images/image-3.jpg" class="project-card__image" alt="">
                    </div>
                    <div class="project-card__block-description">
                        <p>
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.
                        </p>
                    </div>
                </div>
                <div class="project-card__block-info">
                    <div class="project-card__block-name">
                        <span class="project-card__name">АО «ЛОЭСК» / Поставка КПП</span>
                        <svg class="project-card__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#tilted-arrow"/>
                        </svg>
                    </div>
                    <span class="project-card__date">2021 год</span>
                </div>
            </div>
            <div class="project-card">
                <div class="project-card__wrapper-image">
                    <div class="project-card__block-image">
                        <img src="./assets/images/image-4.jpg" class="project-card__image" alt="">
                    </div>
                    <div class="project-card__block-description">
                        <p>
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.
                        </p>
                    </div>
                </div>
                <div class="project-card__block-info">
                    <div class="project-card__block-name">
                        <span class="project-card__name">АО «ЛОЭСК» / Поставка КПП</span>
                        <svg class="project-card__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#tilted-arrow"/>
                        </svg>
                    </div>
                    <span class="project-card__date">2021 год</span>
                </div>
            </div>
        </div>
        <a href="#" class="big-link link-reset">
            <span class="big-link__text">Смотреть все проекты</span>
            <svg class="big-link__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#tilted-arrow"/>
            </svg>
        </a>
    </div>
    
    @include('./geography-projects.html')
</section>