<section class="our-advantages">
    <div class="main-container max-width">
        <div class="our-advantages__block-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">Наши преимущества</span>
            </div>
            <h2 class="title title--h2 title-reset">Зачем обращаться в «Центр Инжениринг»</h2>
        </div>
        <div class="our-advantages__wrapper-content">
            <div class="our-advantages__decore our-advantages__decore--top"></div>
            <div class="our-advantages__decore our-advantages__decore--bottom"></div>
            <div class="our-advantages__wrapper-cards">
                <div class="advantage-card">
                    <img src="./assets/images/fire.svg" class="advantage-card__icon" alt="">
                    <span class="advantage-card__title">Многолетний опыт</span>
                    <span class="advantage-card__description">
                        Обладаем обширными знаниями мирового рынка электротехники РФ и с пониманием прогнозируем и минимизируем риски срыва поставок на этапе размещения заказов/проектирования/комплектации
                    </span>
                </div>
                <div class="advantage-card">
                    <img src="./assets/images/users.svg" class="advantage-card__icon" alt="">
                    <span class="advantage-card__title">Индвидульный подход</span>
                    <span class="advantage-card__description">
                        Найдём подход к задачам любой сложности. К каждому проекту организуем подбор продукции с оптимальными технико-экономическими показателями, исходя из конкретных потребностей клиента
                    </span>
                </div>
                <div class="advantage-card">
                    <img src="./assets/images/time.svg" class="advantage-card__icon" alt="">
                    <span class="advantage-card__title">Соблюдаем сроки</span>
                    <span class="advantage-card__description">
                        Координируем поставки, располагая собственными складскими, финансовыми ресурсами и дополнительными возможностями при взаимодействии с поставщиками. 
                    </span>
                </div>
                <div class="advantage-card">
                    <img src="./assets/images/comment.svg" class="advantage-card__icon" alt="">
                    <span class="advantage-card__title">Все берем на себя</span>
                    <span class="advantage-card__description">
                        Благодаря нашей экспертизе, берём на себя общение с множеством производителей, поставщиков услуг и посредников
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>