<section class="our-principles">
    <div class="main-container max-width">
        <div class="our-principles__wrapper-content">
            <div class="our-principles__wrapper-image">
                <div class="our-principles__block-image">
                    <img src="./assets/images/image-2.jpg" class="our-principles__image" alt="">
                </div>
                <a href="#" class="round-link link-reset">
                    <span class="round-link__text">Подробнее о компании</span>
                </a>
            </div>
            <div class="our-principles__wrapper-info">
                <div class="title-section">
                    <svg class="title-section__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                    </svg>
                    <span class="title-section__title">Наши принципы</span>
                </div>
                <h2 class="title title--h2 title-reset">Объединяем вокруг себя надежных, <b>проверенных партнеров</b> и отдельных специалистов в области энергетики</h2>
                <span class="subtitle subtitle--size--s">Которых мы можем привлечь для совместного участия в проекте заказчика</span>
            </div>
        </div>
    </div>
</section>