<section class="our-projects">
    <div class="main-container max-width">
        <div class="our-projects__wrapper-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">Наши проекты</span>
            </div>
            <h2 class="title title--h2 title-reset">Библиотека проектов</h2>
        </div>
        <div class="our-projects__wrapper-cards">
            @include('./project-card.html')
            @include('./project-card.html')
            @include('./project-card.html')
            @include('./project-card.html')
        </div>
        <a href="#" class="big-link link-reset">
            <span class="big-link__text">Смотреть все проекты</span>
            <svg class="big-link__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#tilted-arrow"/>
            </svg>
        </a>
    </div>
    
    @include('./geography-projects.html')
</section>