<section class="page-not-found">
    <div class="page-not-found__block-bg">
        <img src="./assets/images/image-1.jpg" class="page-not-found__bg" alt="">
    </div>
    <div class="main-container max-width">
        <span class="page-not-found__title">404</span>
        <span class="page-not-found__description">Страница не найдена. Мы разберемся с этим, а пока предлагаем вам вернуться на главную.</span>
        <a href="https://affettadev.ru/_centringen/home.html" class="btn btn--size--bg btn--theme--secondary">
            <span class="btn__text">вернуться на главную</span>
        </a>
    </div>
</section>