<section class="performance">
    <div class="performance__block-bg">
        <img src="./assets/images/image-1.jpg" class="performance__bg" alt="">
    </div>
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">
            <b>Оптимальные решения</b>
            для сложных задач
        </h1>
        <span class="performance__description">
            Комплектация кабельно-проводниковой и электротехнической продукции для объектов промышленности и энергетики
        </span>
        <a href="#" class="btn btn--size--md btn--theme--primary" data-smooth-scrolling="#growth-chart">
            <span class="btn__text">Подробнее о нас</span>
        </a>
    </div>
</section>