<section class="privacy-policy">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset privacy-policy__title">Политика конфиденциальности</h1>
        <div class="privacy-policy__block-text">
            <h3 class="title title--h3 title-reset">Основные положения</h3>
            <p>
                Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ИП  (далее – Оператор).<br>
                1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.<br>
                1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="https://centringen.ru/">https://centringen.ru/</a>
            </p>

            <h3 class="title title--h3 title-reset">1. Определение терминов</h3>
            <p>
                1. Общие положения
                Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ИП (далее – Оператор).<br>
                1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.<br>
                1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="https://centringen.ru/">https://centringen.ru/</a>
            </p>

            <h3 class="title title--h3 title-reset">2. Общие положения</h3>
            <p>
                2.1. Использование Пользователем сайта Интернет-магазина означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.<br>
                2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Интернет-магазина.<br>
                2.3. Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина <a href="https://centringen.ru/">https://centringen.ru/</a> Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.<br>
                2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Интернет-магазина.
            </p>
        </div>
    </div>
</section>