<section class="products">
    <div class="main-container max-width">
        <div class="products__block-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">Продукция</span>
            </div>
            <h2 class="title title--h2 title-reset">В нашей работе мы <b>используем только качественную</b> продукцию и оборудование лидирующих <br> производителей</h2>
        </div>
    </div>
    <div class="products__wrapper-content">
        <div class="main-container max-width">
            <div class="products__block-product">
                <img src="./assets/images/shield.svg" class="products__icon-product" alt="">
                <span class="products__title-product">Трансформаторы силовые, трансформаторы тока и напряжения</span>
            </div>
            <div class="products__block-product">
                <img src="./assets/images/lightning.svg" class="products__icon-product" alt="">
                <span class="products__title-product">Токоограничивающие, дугогасящие и шунтирующие ректоры до 220 кВ</span>
            </div>
            <div class="products__block-product">
                <img src="./assets/images/stack.svg" class="products__icon-product" alt="">
                <span class="products__title-product">КТП, БКТП, КРН, КСО, КРУ, КРУН и сопутствующее подстанционное оборудование</span>
            </div>
            <div class="products__block-product">
                <img src="./assets/images/server.svg" class="products__icon-product" alt="">
                <span class="products__title-product">ЖБИ, деревянные и металлические опоры ЛЭП до 220 кВ</span>
            </div>
            <a href="https://affettadev.ru/_centringen/products.html" class="round-link link-reset">
                <span class="round-link__text">вся продукция</span>
            </a>
        </div>
    </div>
</section>