<section class="projects">
    <div class="projects__decore"></div>
    <div class="main-container max-width">
        <div class="projects__block-head">
            <h1 class="title title--h1 title-reset">Проекты</h1>
            <ul class="projects__list-items list-reset">
                <li class="projects__li-item active">
                    <a href="#" class="projects__link-item link-reset">все</a>
                </li>
                <li class="projects__li-item">
                    <a href="#" class="projects__link-item link-reset">Энергетика</a>
                </li>
                <li class="projects__li-item">
                    <a href="#" class="projects__link-item link-reset">Строительство</a>
                </li>
                <li class="projects__li-item">
                    <a href="#" class="projects__link-item link-reset">Перевооружение</a>
                </li>
            </ul>
        </div>
        <div class="projects__wrapper-cards">
            @include('./project-card.html')
            @include('./project-card.html')
            @include('./project-card.html')
            @include('./project-card.html')
            @include('./project-card.html')
            @include('./project-card.html')
        </div>
    </div>
</section>