<section class="s-products">
    <div class="main-container max-width">
        <h1 class="title title--h1 title-reset">Продукция</h1>
    </div>
    <div class="s-products__wrapper-products">
        <div class="s-products__inner-products">
            <div class="main-container max-width">
                <div class="s-products__block-product">
                    <img src="./assets/images/cube.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Трансформаторы силовые, трансформаторы тока и напряжения
                    </span>
                </div>
                <div class="s-products__block-product">
                    <img src="./assets/images/lightning.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Токоограничивающие, дугогасящие и шунтирующие ректоры до 220 кВ
                    </span>
                </div>
            </div>
        </div>
        <div class="s-products__inner-products">
            <div class="main-container max-width">
                <div class="s-products__block-product">
                    <img src="./assets/images/stack.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        КТП, БКТП, КРН, КСО, КРУ, КРУН и сопутствующее подстанционное оборудование
                    </span>
                </div>
                <div class="s-products__block-product">
                    <img src="./assets/images/server.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        ЖБИ, деревянные и металлические опоры ЛЭП до 220 кВ
                    </span>
                </div>
            </div>
        </div>
        <div class="s-products__inner-products">
            <div class="main-container max-width">
                <div class="s-products__block-product">
                    <img src="./assets/images/horizontal-connection.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Разъединители, разрядники, ОПН, высоковольтные вводы, приводы и электродвигатели
                    </span>
                </div>
                <div class="s-products__block-product">
                    <img src="./assets/images/lock-simple.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        РЗА (устройства релейной защиты и автоматики), телемеханика
                    </span>
                </div>
            </div>
        </div>
        <div class="s-products__inner-products">
            <div class="main-container max-width">
                <div class="s-products__block-product">
                    <img src="./assets/images/vertical-connection.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Кабельные муфты, линейно-сцепная арматура, траверсы, арматура к СИП, изоляторы
                    </span>
                </div>
                <div class="s-products__block-product">
                    <img src="./assets/images/shield.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Щиты освещения и шкафы распределительные, автоматические выключатели
                    </span>
                </div>
            </div>
        </div>
        <div class="s-products__inner-products">
            <div class="main-container max-width">
                <div class="s-products__block-product">
                    <img src="./assets/images/sun.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Мачты освещения двойного назначения, светотехника
                    </span>
                </div>
                <div class="s-products__block-product">
                    <img src="./assets/images/hard-drives.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Оборудование для охранных систем, систем видеонаблюдения, серверное оборудование, ПК, ПО и периферийное оборудование
                    </span>
                </div>
            </div>
        </div>
        <div class="s-products__inner-products">
            <div class="main-container max-width">
                <div class="s-products__block-product">
                    <img src="./assets/images/buildings.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        БМЗ - блочно-модульные здания
                    </span>
                </div>
                <div class="s-products__block-product">
                    <img src="./assets/images/second-fire.svg" class="s-products__icon" alt="">
                    <span class="s-products__description-card">
                        Оборудование для пожарной безопасности
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>