<section class="s-services">
    <div class="main-container max-width">
        <div class="s-services__block-head">
            <h1 class="title title--h1 title-reset">Услуги</h1>
            <span class="s-services__page-description">
                «Центр Инжениринг» предприятие которое занимается комлексными поставками объектам промышленности и энергетики, предоставляем разные услгуи
            </span>
        </div>
        <div class="s-services__wrapper-cards">
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
            @include('./service-card.html')
        </div>
    </div>
</section>