<section class="s-services">
    <div class="main-container max-width">
        <div class="s-services__block-head">
            <h1 class="title title--h1 title-reset">Услуги</h1>
            <span class="s-services__page-description">
                «Центр Инжениринг» предприятие которое занимается комлексными поставками объектам промышленности и энергетики, предоставляем разные услгуи
            </span>
        </div>
        <div class="s-services__wrapper-cards">
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-7.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Монтаж внутренних электросетей до 1 кВ, слаботочки, пожарной сигнализации СКУД, видеонаблюдения</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-8.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Технологическое присоединение к ВЛ, КЛ, к питающим центрам ТСО по заявкам потребителей до 35 кВ</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-6.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Строительство воздушных линий элеткропередач на напряжение до 35 кВ</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-9.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Строительство кабельных линий до 35 кВ</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-10.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Установка подстанций, пусконаладка обслуживание и гарантийные обязательства</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-11.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Монтаж видеонаблюдения и охранных систем</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-12.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Строительство подстанций жилых комплексов, установка КТП и БКТП, монтаж трансформаторов реакторов и навесного оборудования до 110 кВ</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-13.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Устройство дорожного освещения</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-14.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Монтаж освещения периметров сооружений и территорий</span>
                </div>
            </div>
            <div class="service-card">
                <!-- Pluse -->
                <div class="service-card__wrapper-image">
                    <div class="service-card__block-image">
                        <img src="./assets/images/image-15.png" class="service-card__image" alt="">
                    </div>
                </div>
                <div class="service-card__block-description">
                    <span class="service-card__description">Монтаж ЖБ и решетчато металических опор до 35 кВ, мачт освещения, опор двойного назначения</span>
                </div>
            </div>
        </div>
    </div>
</section>