<section class="services">
    <div class="main-container max-width">
        <div class="services__wrapper-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"/>
                </svg>
                <span class="title-section__title">Услуги</span>
            </div>
            <h2 class="title title--h2 title-reset">
                Мы придерживаемся <b>комплексного подхода</b> в решении задач клиента
            </h2>
        </div>
        <div class="services__wrapper-content">
            <div class="services__block-service">
                <img src="./assets/images/fix.svg" class="services__icon-service" alt="">
                <span class="services__title-service">Монтаж внутренних электросетей до 1 кВ, слаботочки, пожарной сигнализации СКУД, видеонаблюдения</span>
            </div>
            <div class="services__block-service">
                <img src="./assets/images/chip.svg" class="services__icon-service" alt="">
                <span class="services__title-service">Технологическое присоединение к ВЛ, КЛ, к питающим центрам ТСО по заявкам потребителей до 35 кВ</span>
            </div>
            <div class="services__block-service">
                <img src="./assets/images/settings.svg" class="services__icon-service" alt="">
                <span class="services__title-service">Технологическое присоединение к ВЛ, КЛ, к питающим центрам ТСО по заявкам потребителей до 35 кВ</span>
            </div>
            <div class="services__block-service">
                <img src="./assets/images/lightbulb.svg" class="services__icon-service" alt="">
                <span class="services__title-service">Монтаж освещения периметров сооружений и территорий</span>
            </div>
            <div class="services__block-service">
                <img src="./assets/images/location.svg" class="services__icon-service" alt="">
                <span class="services__title-service">Устройство дорожного освещения</span>
            </div>
            <div class="services__block-service">
                <a href="https://affettadev.ru/_centringen/services.html" class="round-link link-reset">
                    <span class="round-link__text">Все услуги</span>
                    <svg class="services__icon-round-link">
                        <use xlink:href="./assets/icons/sprite-svg.svg#tilted-arrow"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>