<a href="https://sbis.ru/contragents/2373002283/237301001" class="tp-service link-reset">
    <div class="tp-service__wrapper-info">
        <div class="tp-service__block-logo">
            <img src="./assets/images/СБИС.png" class="tp-service__logo" alt="">
        </div>
        <span class="tp-service__description">Наша выручка по данным СБИС</span>
    </div>
    <div class="tp-service__block-arrow">
        <svg class="tp-service__arrow">
            <use xlink:href="./assets/icons/sprite-svg.svg#tilted-arrow"/>
        </svg>
    </div>
</a>