<section class="trust">
    <div class="main-container max-width">
        <div class="trust__wrapper-head">
            <div class="title-section">
                <svg class="title-section__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#decore-item"></use>
                </svg>
                <span class="title-section__title">Нам доверяют</span>
            </div>
            <h2 class="title title--h2 title-reset">Наши партнеры, которые нам доверяют</h2>
        </div>
    </div>
    <div class="trust__wrapper-partners marquee3k" data-speed="1">
        <div class="trust__inner-partners">
            <div class="partner-card">
                <img src="./assets/images/rushydro.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/kavkaz.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/rosseti-kuban.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/LUK_OIL.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/rushydro.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/kavkaz.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/rosseti-kuban.png" class="partner-card__logo" alt="">
            </div>
            <div class="partner-card">
                <img src="./assets/images/LUK_OIL.png" class="partner-card__logo" alt="">
            </div>
        </div>
    </div>
</section>