.big-link {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 10px;
    padding: 22px 40px;
    border: 1px solid $color-5;
    transition: background-color $transition-time;

    &:hover {
        background-color: $color-5;
    }

    &:hover &__text {
        color: $color-4;
    }

    &__text {
        @include adaptiv-font(18, 16);
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $main-color;
        transition: color $transition-time;
    }

    &__icon {
        width: 40px;
        height: 40px;

        use {
            fill: $color-6;
        }
    }
}