.btn {
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid transparent;
    transition: background-color $transition-time, border-color $transition-time;

    &:not([disabled]) {
        cursor: pointer;
    }

    &[disabled] {
        pointer-events: none;
        opacity: 0.6;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: color $transition-time;
    }

    &--theme--primary {
        border-color: $color-2;
        background-color: transparent;

        &:hover {
            background-color: $color-2;
        }

        &:hover {
            .btn {
                &__text {
                    color: $color-4;
                }
            }
        }

        .btn {
            &__text {
                color: $color-2;
            }
        }
    }

    &--size--md {
        width: max-content;
        padding: 16px 32px;
    }
}