@media screen and (max-width: 576px) {
    .logo {
        &__image {
            width: 130px;
            height: 30px;
        }
    }

    .growth-chart {
        &__graph {
            img {
                height: 216px;
            }
        }
    }

    .our-principles {
        &__block-image {
            width: 304px;
            height: 304px;
        }

        &__wrapper-content {
            background-size: auto;
        }

        .round-link {
            width: 115px;
            height: 115px;
            padding: 5px;

            &::before {
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                border: 15px solid $color-5;
            }
        }
    }

    .our-projects {
        &__wrapper-cards {
            margin-top: 24px;
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }
    }

    .s-services {
        &__wrapper-cards {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }
    }

    .project-card {
        &__block-info {
            padding: 16px 0 0 0;
            grid-row-gap: 0;
        }

        &__icon {
            width: 34px;
            height: 34px;
        }
    }

    .projects {
        &__wrapper-cards {
            grid-template-columns: 1fr;
        }
    }
}