@media screen and (max-width: 1200px) {
    .header {
        padding: 24px 0;

        &.active-menu {

            .header__wrapper-nav {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                transform: translateX(0);
            }
        }

        &__decore {
            display: none;
        }

        &__wrapper-nav {
            position: fixed;
            width: 100%;
            padding: 100px 20px 24px 20px;
            top: 0;
            left: 0;
            height: 100%;
            grid-template-columns: 1fr;
            grid-row-gap: 34px;
            align-content: space-between;
            background-color: $color-11;
            background-image: url('../images/decorative-mesh.png');
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateX(-100%);
            transition: opacity $transition-time, visibility $transition-time, transform $transition-time;

            .btn {
                margin-top: auto;
            }
        }

        &__nav-list {
            grid-auto-flow: row;
            grid-row-gap: 24px;
        }

        &__nav-link-icon {
            display: none;
        }

        &__nav-wrapper-nested-list {
            visibility: visible;
            opacity: 1;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            padding-top: 24px;
        }

        &__nav-nested-list {
            grid-row-gap: 24px;
            padding: 0;
            width: 100%;
            background-color: transparent;
        }

        &__nav-nested-link {
            font-size: 18px;
            color: $color-2;
        }

        &__burger {
            position: relative;
            z-index: 1;
            width: 24px;
            height: 17px;
            display: block;

            &.active span {
                &:nth-child(1) {
                    top: 5px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }

                &:nth-child(3) {
                    top: 5px;
                    transform: rotate(-45deg);
                }
            }

            span {
                position: absolute;
                left: 0;
                display: block;
                height: 2px;
                width: 100%;
                background-color: $color-2;
                transition: $transition-time ease-in-out;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 8px;
                }

                &:nth-child(3) {
                    top: 100%;
                }
            }
        }

        .logo {
            position: relative;
            z-index: 1;
        }
    }

    .growth-chart {
        &__decore {
            display: none;
        }

        &__wrapper-head {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }

        &__graph img {
            height: 460px;
        }

        .title, 
        & .title-section {
            padding-top: 0;
        }

        .title {
            max-width: 768px;

            &::before {
                display: none;
            }
        }
    }

    .about-company {
        &__block-info {
            height: 502px;
        }
    }

    .our-principles {
        &__block-image {
            width: 340px;
            height: 340px;
        }

        .round-link {
            width: 160px;
            height: 160px;
        }
    }

    .project-card {
        &__wrapper-image {
            height: 450px;
        }
    }

    .our-projects {
        &__wrapper-head {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }
    }

    .our-advantages {
        &__block-head {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }

        .title {
            max-width: 768px;
        }
    }

    .services {
        &__wrapper-head {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }

        &__block-service {
            padding: 24px;
        }

        .round-link {
            width: 245px;
            height: 245px;
        }

        .title {
            max-width: 768px;
        }
    }

    .products {
        &__block-head {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }

        &__wrapper-content {
            margin-top: 62px;
            border: none;

            .main-container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__block-product {
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .title {
            max-width: 768px;
        }
    }

    .s-services {
        &__block-head {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }  
    }

    .contacts {
        &__block-image {
            width: 49%;
        }
    }

    .documents {
        &__card-doc {
            padding: 30px;
        }
    }

    .section-title {
        padding: 200px 0 100px 0;

        &__description {
            max-width: 768px;
        }

        .main-container {
            grid-template-columns: 1fr;
            grid-row-gap: 24px;
        }
    }

    .trust {
        &__wrapper-head {
            grid-template-columns: 1fr;
            grid-row-gap: 16px;
        }
    }

    .about-company-page {
        .growth-chart__wrapper-head {
            grid-row-gap: 42px;
        }   
    }

    .page-not-found {
        height: 787px;

        &__block-bg {
            height: 432px;
        }

        .main-container {
            grid-row-gap: 34px;
        }
    }
}