<footer class="footer">
    <div class="main-container max-width">
        <div class="footer__wrapper-contacts">
            <a href="#" class="logo">
                <img src="./assets/images/logo-dark.svg" class="logo__image" alt="">
            </a>
            <div class="footer__block-contacts">
                <div class="social-network">
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#telegram"/>
                        </svg>
                    </a>
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#VK"/>
                        </svg>
                    </a>
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#WhatsApp"/>
                        </svg>
                    </a>
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#instagram"/>
                        </svg>
                    </a>
                </div>
                <a href="#" class="footer__link-qr link-reset">
                    <img src="./assets/images/QR.svg" class="footer__qr" alt="">
                </a>
            </div>
        </div>
        <div class="footer__wrapper-links">
            <div class="footer__decore"></div>
            <div class="footer__block-links">
                <span class="footer__links-title">Навигация</span>
                <ul class="footer__links-list list-reset">
                    <li class="footer__links-li">
                        <a href="#" class="footer__links-li-text link-reset">Объекты</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="#" class="footer__links-li-text link-reset">Услуги</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="#" class="footer__links-li-text link-reset">Продукция</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="#" class="footer__links-li-text link-reset">Компания</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block-links">
                <span class="footer__links-title">О нас</span>
                <ul class="footer__links-list list-reset">
                    <li class="footer__links-li">
                        <a href="#" class="footer__links-li-text link-reset">Сертификаты</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="#" class="footer__links-li-text link-reset">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block-links">
                <span class="footer__links-title">Контакты</span>
                <ul class="footer__links-list list-reset">
                    <li class="footer__links-li">
                        <a href="tel:79298510404" class="footer__links-li-text link-reset">+7 (929) 851-04-04</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="mailto:energobrb@gmail.com" class="footer__links-li-text link-reset">energobrb@gmail.com</a>
                    </li>
                    <li class="footer__links-li">
                        <span class="footer__links-li-text">Краснодарский край, Краснодар, ул. Ростовское ш., 14</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__wrapper-copyright">
        <div class="main-container max-width">
            <span class="footer__copyright">Центр Инженеринг. Все права защищены &copy; 2022</span>
            <a href="https://affetta.ru/" target="_blank" class="footer__developer link-reset">Сделано в AFFETTA</a>
        </div>
    </div>
</footer>