<footer class="footer" data-footer="main">
    <div class="main-container max-width">
        <div class="footer__wrapper-contacts">
            <a href="https://affettadev.ru/_centringen/home.html" class="logo">
                <img src="./assets/images/logo-dark.svg" class="logo__image" alt="">
            </a>
            <div class="footer__block-contacts">
                <div class="social-network">
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#telegram"/>
                        </svg>
                    </a>
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#VK"/>
                        </svg>
                    </a>
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#WhatsApp"/>
                        </svg>
                    </a>
                    <a href="#" class="social-network__link link-reset">
                        <svg class="social-network__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#instagram"/>
                        </svg>
                    </a>
                </div>
                <a href="##" class="footer__link-qr link-reset">
                    <img src="./assets/images/QR.svg" class="footer__qr" alt="">
                </a>
            </div>
        </div>
        <div class="footer__wrapper-links">
            <div class="footer__decore"></div>
            <div class="footer__block-links footer__block-links--hide">
                <div class="footer__block-link-head">
                    <span class="footer__links-title">Навигация</span>
                </div>
                <ul class="footer__links-list list-reset">
                    <li class="footer__links-li">
                        <a href="https://affettadev.ru/_centringen/projects.html" class="footer__links-li-text link-reset">Проекты</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="https://affettadev.ru/_centringen/services.html" class="footer__links-li-text link-reset">Услуги</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="https://affettadev.ru/_centringen/products.html" class="footer__links-li-text link-reset">Продукция</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="https://affettadev.ru/_centringen/about-company.html" class="footer__links-li-text link-reset">О компании</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block-links" data-footer="block-links">
                <div class="footer__block-link-head" data-footer="link-head">
                    <span class="footer__links-title">О нас</span>
                    <svg class="footer__link-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down"/>
                    </svg>
                </div>
                <ul class="footer__links-list list-reset" data-footer="links-list">
                    <li class="footer__links-li">
                        <a href="https://affettadev.ru/_centringen/documents.html" class="footer__links-li-text link-reset">Сертификаты</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="https://affettadev.ru/_centringen/contacts.html" class="footer__links-li-text link-reset">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__block-links" data-footer="block-links">
                <div class="footer__block-link-head" data-footer="link-head">
                    <span class="footer__links-title">Контакты</span>
                    <svg class="footer__link-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down"/>
                    </svg>
                </div>
                <ul class="footer__links-list list-reset" data-footer="links-list">
                    <li class="footer__links-li">
                        <a href="tel:78619910097" class="footer__links-li-text link-reset">+7 (861) 991-00-97</a>
                    </li>
                    <li class="footer__links-li">
                        <a href="mailto:info@centringen.ru" class="footer__links-li-text link-reset">info@centringen.ru</a>
                    </li>
                    <li class="footer__links-li">
                        <span class="footer__links-li-text">Краснодарский край, Краснодар, ул. Ростовское ш., 14</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__wrapper-copyright">
        <div class="main-container max-width">
            <span class="footer__copyright">Центр Инженеринг. Все права защищены &copy; 2022</span>
            <a href="https://affetta.ru/" target="_blank" class="footer__developer link-reset">Сделано в AFFETTA</a>
        </div>
    </div>
</footer>